@use '~/styles/theme/colors';
@use '~/styles/theme/typography';

$_board-color: colors.$gray-darkest;

.board {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  border: 2px solid $_board-color;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: typography.$font-weight-bold;
  // TODO: @body mixin sets border color for some reason
  border-color: $_board-color !important;
  border-style: solid;
  border-width: 0 1px 1px 0;
}

.cellSize9 {
  font-size: typography.$font-size-md;
}

.cellSize16 {
  /* TODO: Test this */
  font-size: typography.$font-size-sm;
}

.cellSize9:nth-child(3n),
.cellSize16:nth-child(4n) {
  border-right: 0;
}

.cellSize9:nth-child(n + 2):nth-child(3n + 1),
.cellSize16:nth-child(n + 2):nth-child(4n + 1) {
  border-color: $_board-color;
  border-left: 2px solid;
}

.boardRow {
  display: flex;
  height: 100%;

  &:nth-child(3n) .cellSize9,
  &:nth-child(4n) .cellSize16 {
    border-bottom: 0;
  }

  &:nth-child(n + 2):nth-child(3n + 1) .cellSize9,
  &:nth-child(n + 2):nth-child(4n + 1) .cellSize16 {
    border-color: $_board-color;
    border-top: 2px solid;
  }
}
