:root {
    --text-color: rgb(65, 65, 65);
    --code-color: rgb(103, 103, 103);
    --board-color: rgb(65, 65, 65);
    --button-color: rgb(241, 241, 241);
    --button-hover: rgb(245, 245, 245);
    --button-selected: rgb(234, 234, 234);
    --button-border: rgb(221, 221, 221);
    --button-border-selected: rgb(176, 176, 176);
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game * {
    color: var(--text-color);
}

.board {
    display: grid;
    width: 400px;
    height: 400px;
    border: solid var(--board-color);
    border-width: 1px 2px 2px 1px;
}

.board-square {
    display: grid;
    border: 1.25px solid var(--board-color);
}

.board-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border: 1px solid var(--board-color);
}

.border-top {
    border-top: 2px solid var(--board-color);
}

.border-left {
    border-left: 2px solid var(--board-color);
}

.button {
    font-family: inherit;
    width: 72px;
    height: 30px;
    margin: 0 15px;
    outline: 0;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid rgb(221, 221, 221);
    background-color: var(--button-color);
}

.button:hover {
    background-color: var(--button-hover);
}

.button:active {
    position: relative;
    top: 0.5px;
}

.hidden {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    margin: 15px 0;
    opacity: 1;
    transition: opacity 0.35s ease-out;
}