.error-message {
  font-size: 0.8em;
  color: red;
}

.error-message:empty::before {
  content: '\200b';
}

.form {
  text-align: center;
  opacity: 1;
  transition: opacity 0.35s ease-out;
}

.form .questionMark {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 15px;
  height: 15px;
  margin-right: 2px;
  font-size: 0.8em;
  color: rgb(94, 94, 94);
  cursor: pointer;
  background-color: rgb(231, 231, 231);
  border-radius: 100%;
}

.radio-container {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.radio-container fieldset {
  padding-bottom: 0;
  border: 0;
}

.radio-container legend {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.radio-container label {
  display: inline-block;
  width: 55px;
  padding: 3px;
  margin: 0 5px;
  font-size: 0.85em;
  cursor: pointer;
  background-color: var(--button-color);
  border: 1px solid var(--button-border);
  border-radius: 3px;
}

.input-code-container label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  font-size: 0.9em;
}

.radio-container input[type='radio'] {
  appearance: none;
  display: none;
}

.radio-container input[type='radio']:disabled + label {
  cursor: default;
  opacity: 0.6;
}

.radio-container input[type='radio']:hover + label {
  background-color: var(--button-hover);
}

.radio-container input[type='radio']:checked + label {
  background-color: var(--button-selected);
  border: 1px solid var(--button-border-selected);
}

.input-code-container {
  margin-bottom: 7px;
}

.input-code-container input {
  display: block;
  width: 390px;
  padding: 3px;
  margin: 0 auto;
  font-size: 0.7em;
  color: var(--code-color);
  background-color: rgb(242, 246, 251);
  border: 1px solid var(--button-border);
  border-radius: 3px;
  outline: 0;
}

.input-code-container + .button {
  margin: 0 7px;
}

.image-upload-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
}

.image-upload-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  font-size: 0.9em;
  cursor: default;
}

.image-upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  padding: 4.2px;
  margin: 0 auto;
  font-size: 0.7em;
  color: var(--code-color);
  background-color: rgb(242, 246, 251);
  border: 1px solid var(--button-border);
  border-radius: 3px;
}

.image-upload-button * {
  margin: 0 1.5px;
}

.image-upload-button:hover {
  cursor: pointer;
  background-color: var(--button-hover);
}

.image-upload-container + .button {
  margin: 0 7px;
}
