:root {
  --text-color: rgb(65, 65, 65);
  --code-color: rgb(103, 103, 103);
  --board-color: rgb(65, 65, 65);
  --button-color: rgb(241, 241, 241);
  --button-hover: rgb(245, 245, 245);
  --button-clicked: rgb(238, 238, 238);
  --button-border: rgb(221, 221, 221);
  --button-border-selected: rgb(176, 176, 176);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game * {
  color: var(--text-color);
}

.board {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  border: 2px solid var(--board-color);
}

.board-row {
  display: flex;
  height: 100%;
}

.board-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 600;
  border-bottom: 1px solid var(--board-color);
  border-right: 1px solid var(--board-color);
}

.board-cell-size9 {
  font-size: 1.35em;
}

.board-cell-size9:nth-child(3n) {
  border-right: none;
}

.board-row:nth-child(3n) .board-cell-size9 {
  border-bottom: none;
}

.board-cell-size9:nth-child(n + 2):nth-child(3n + 1) {
  border-left: 2px solid var(--board-color);
}

.board-row:nth-child(n + 2):nth-child(3n + 1) .board-cell-size9 {
  border-top: 2px solid var(--board-color);
}

.board-cell-size16 {
  font-size: inherit;
}

.board-cell-size16:nth-child(4n) {
  border-right: none;
}

.board-row:nth-child(4n) .board-cell-size16 {
  border-bottom: none;
}

.board-cell-size16:nth-child(n + 2):nth-child(4n + 1) {
  border-left: 2px solid var(--board-color);
}

.board-row:nth-child(n + 2):nth-child(4n + 1) .board-cell-size16 {
  border-top: 2px solid var(--board-color);
}

.button {
  font-family: inherit;
  width: 72px;
  height: 30px;
  margin: 0 15px;
  outline: 0;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgb(221, 221, 221);
  background-color: var(--button-color);
}

.button:hover {
  background-color: var(--button-hover);
}

.button:active {
  position: relative;
  top: 0.5px;
  background-color: var(--button-clicked);
}

.hidden {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  margin: 15px 0;
  opacity: 1;
  transition: opacity 0.35s ease-out;
}
