:root {
  --code-color: rgb(103, 103, 103);

  /* colors.$gray-lightest; */
  --button-color: rgb(241, 241, 241);

  /* color.scale($color: colors.$gray-lightest, $lightness: 50%); */
  --button-hover: rgb(245, 245, 245);

  /* colors.$gray-lighter; */
  --button-border: rgb(221, 221, 221);
  --button-border-selected: rgb(176, 176, 176);
}
